body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
}

body ul {
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 350px;
    margin: 10px;
    border: solid 1px #CCC;
    padding-bottom: 20px;
}

section h2, section p {
    margin-left: 20px;
    margin-right: 20px;
}

section img {
    width: 100%;
}

.addy {
    font-size: large;
}



@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}